@font-face {
    font-family: "paralucent";
    src: url("assets/Paralucent W00 Medium.woff2") format('woff');
}

@keyframes scroll-up {
    from {margin-top: 100vh}
    to {margin-top: 0vh}
}

@keyframes scroll-down {
    from {margin-top: 0vh}
    to {margin-top: 100vh}
}

body {
    overflow: hidden;
}

body {
    background: #373b51;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#create-deck-button {
    background-color: #6ff9d9;
    color: #373b51;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    font-family: paralucent,sans-serif;
    font-size: 46px;
    text-align: center;
    width: 282px;
    height: 64px;
}

.deck {
    text-align: center;
}

.deck > * > span {
    width: 100%;
}

.deck > * {
    color: #ffffff;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
}

.deck-due-div {
    color: #fbfcfc;
    font-family: paralucent,sans-serif;
    background-color: #d63230;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 62px;
    width: 102px;
}

.deck-due-div  > div {
    margin: auto;
}

.deck-name-div {
    color: #fbfcfc;
    font-family: paralucent,sans-serif;
    background-color: #516588;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
    height: 62px;
    width: 322px;
}

.deck-new-div {
    color: #516588;
    background-color: #fbfcfc;
    font-family: paralucent,sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
    height: 62px;
    width: 102px;
}

#title {
    text-align: center;
    font-family: paralucent, sans-serif;
    color: #fbfcfc;
    font-size: 80px;
}

#create-dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0vh;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #6ff9d9;
}

#create-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-button {
    font-family: paralucent, sans-serif;
    width: 282px;
    height: 64px;
    color: #516588;
    background-color: #fbfcfc;
    font-size: 46px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30%;
    margin-bottom: 30%;
}

.down {
    /* margin-top: 80vh; */
}

.open {
    animation: scroll-up 0.25s linear 0s 1 normal none;
}

.close {
    animation: scroll-down 0.25s linear 0s 1 normal none;
}