@font-face {
    font-family: "paralucent";
    src: url("assets/Paralucent W00 Medium.woff2") format('woff');
}

body {
    background: #373b51;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#create-deck-button {
    background-color: #6ff9d9;
    color: #373b51;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    font-family: paralucent,sans-serif;
    font-size: 46px;
    text-align: center;
    width: 282px;
    height: 64px;
}

#create-deck-dialog-container {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#create-deck-dialog {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    background-color: #373b51;
    border-radius: 15px;
    height: 189px;
    width: 437px;
}

#create-deck-dialog-topbar {
    background-color: #fbfcfc;
    border-radius: 15px 15px 0px 0px;
    border-bottom: solid 2px rgb(235, 231, 231);
    height: 34px;
    width: 437px;
}

#create-deck-dialog-exit {
    background-color: #d63230;
    border-radius: 100px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    height: 20px;
    width: 20px;
}

#create-deck-dialog-button-container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    flex-grow: 1;
}

.create-deck-dialog-button {
    background-color: #6ff9d9;
    color: #373b51;
    font-family: paralucent, sans-serif;
    border-radius: 15px;
    display: inline-block;
    font-size: 48px;
    margin: 0 auto;
    height: 57px;
    width: 184px;
    text-align: center;
}

.deck {
    text-align: center;
}

.deck > * > span {
    width: 100%;
}

.deck > * {
    color: #ffffff;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
}

.deck-due-div {
    color: #fbfcfc;
    font-family: paralucent,sans-serif;
    background-color: #d63230;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 62px;
    width: 102px;
}

.deck-due-div  > div {
    margin: auto;
}

.deck-name-div {
    color: #fbfcfc;
    font-family: paralucent,sans-serif;
    background-color: #516588;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
    height: 62px;
    width: 322px;
}

.deck-new-div {
    color: #516588;
    background-color: #fbfcfc;
    font-family: paralucent,sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
    height: 62px;
    width: 102px;
}

#title {
    text-align: center;
    font-family: paralucent,sans-serif;
    color: #fbfcfc;
    font-size: 80px;
}
